/* Global Reset */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

/* Typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Fade out effect */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#quest {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}


.index-container {
  max-width: 1200px;
  padding: 20px;
  margin-top: 50px;
  overflow: hidden;
}

/* Animated Falling Stars */
@keyframes moveStars {
  from {
      transform: translateY(-10vh);
      opacity: 1;
  }
  to {
      transform: translateY(110vh);
      opacity: 0;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #00ff00;
  box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
  border-radius: 50%;
  animation: moveStars linear infinite;
}

/* Index Page Styling */
#title {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

/* Intro Text Styling */
#intro {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Navbar Styling */
.navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: black;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 60px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 10px;
}

/* Logo */
.navbar .logo {
  font-size: 1.2rem;
  color: #02f002;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 20px;
  flex-shrink: 0;
  position: absolute;
  left: 30px;
}

/* Navigation Links Container */
.nav-links {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-grow: 1;
}

/* Links */
.nav-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border: 3px solid #02f002;
  box-shadow: 3px 3px 0 #37d606;
  cursor: pointer;
  text-transform: lowercase;
  transition: all 0.1s ease-in-out;
  background: black;
}

/* Current Page Indication */
@keyframes neonBlink {
  0%, 100% { text-shadow: 0 0 5px #00ff00; color: #00ff00; }
  50%      { text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00; color: #ffffff; }
}

.nav-links a.active {
  animation: neonBlink 2s infinite ease-in-out;
}


/* Game Card Style */
.game-card {
  background: #000000;
  border: 4px solid #00ff00;
  border-radius: 10px;
  box-shadow: 0 0 15px #00ff00;
  width: 180px;
  height: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  gap: 10px;
}

.game-card:hover {
  transform: rotate(10deg) scale(1.1);
  box-shadow: 0 0 25px #ff00ff;
}

/* Game Card Icons */
.game-card .icon {
  font-size: 3rem;
  color: #00ff00;
  margin-bottom: 10px;
}

/* Game Card Text */
.game-card .text {
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 5px #00ff00;
}

/* Scroll Buttons */
.scroll-btn {
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
  transition: transform 0.2s ease-in-out;
}

.scroll-btn:hover {
  transform: scale(1.2);
  color: #ff00ff;
  text-shadow: 0 0 15px #ff00ff;
}

/* Projects Section */
.projects-container {
  width: 150vh;
  max-height: 100vh;
  margin: auto;
  padding: 20px;
  overflow-y: auto;
  border: 4px solid #000000;
  box-shadow: 0 0 15px #000000;
  margin-top: 80px;
  margin-bottom: 50px;
}

/* Individual Project Boxes */
.project-box {
  background-color: black;
  border: 2px solid #00ff00;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #00ff00;
  text-align: left;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}

/* Headings Inside Project Boxes */
.project-box h3 {
  color: #00ff00;
}

/* Text Inside Project Boxes */
.project-box p {
  color: white;
}

.project-box p li {
  margin-bottom: 10px;
}

/* Hover Effects on Project Boxes */
.project-box:hover {
  transform: scale(1.03);
  background-color: #000000;
  box-shadow: 0 0 20px #ff00ff;
}

/* Scrollbar Customization */
.projects-container::-webkit-scrollbar {
  display: none;
}

/* Education Section */
.education-table-section {
  padding: 100px 40px;
  margin: 0 auto;
  width: 95vw;
  min-height: 95vh;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.edu-table {
  width: 100%;
  height: 95%;
  max-width: 1300px;
  border-collapse: collapse;
  background-color: #000;
  font-family: 'Press Start 2P', monospace;
  box-shadow: 0 0 20px #00ff00;
}

.edu-table th,
.edu-table td {
  border: 2px solid #00ff00;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  word-wrap: break-word;
}

.edu-table th {
  background-color: #000000;
  color: #00ff00;
  font-size: 1.1rem;
}

.edu-table tr:nth-child(even) {
  background-color: #000000;
}

.edu-table tr:hover {
  background-color: #000000;
  box-shadow: 0 0 15px #ff00ff;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Education Section - Courses Taken */
.course-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.course-link:hover {
  color: #00ff00;
}

.course-link:hover {
  transform: scale(1.5);
}

/* Courses Taken Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  background-color: #000;
  margin: 10% auto;
  padding: 30px;
  border: 2px solid #00ff00;
  width: 80%;
  max-width: 700px;
  max-height: 1800px;
  font-family: 'Press Start 2P', monospace;
  box-shadow: 0 0 20px #00ff00;
  color: #fff;
  font-size: 1.2rem;
  justify-content: center;
}

.close-btn {
  float: right;
  font-size: 2rem;
  color: #00ff00;
  cursor: pointer;
}

.modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal-table th,
.modal-table td {
  border: 1px solid #00ff00;
  padding: 10px;
  text-align: left;
  font-size: 0.9rem;
}

.modal-table th {
  background-color: #000000;
  color: #00ff00;
  font-size: 1.0rem;
}

/* Skills Section */
.skills-section {
  padding: 80px 40px;
  margin: 40px auto 100px;
  width: 100vw;
  max-width: 100%;
  overflow-y: auto;
  justify-content: center;
}

.skill-category {
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-title {
  font-size: 1.4rem;
  margin-bottom: 30px;
  text-transform: lowercase;

}

/* Full-Width Adaptive Grid */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Game Style Cards */
.skill-card {
  background-color: #000000;
  border: 2px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff00ff;
}

.skill-card p {
  font-size: 0.9rem;
  color: #ffffff;
}

.skills-section::-webkit-scrollbar {
  display: none;
}

.skills-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Experience Section */
.experience-section {
  padding: 80px 40px;
  margin: 40px auto 20px;
  width: 90vw;
  max-width: 100%;
  overflow-y: auto;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  background: #00ff00;
  box-shadow: 0 0 10px #00ff00;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 60px;
}

.timeline-item.left .experience-card {
  order: 1;
  margin-right: auto;
}

.timeline-item.right .experience-card {
  order: 2;
  margin-left: auto;
}

.experience-card {
  background: #000000;
  border: 2px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  padding: 20px;
  width: 45%;
  border-radius: 8px;
  transition: 0.3s ease;
  text-align: left;
}

.experience-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px #ff00ff;
}

.timeline-item .dot {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #00ff00;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff00;
  z-index: 2;
}

.experience-card h3 {
  color: white;
  margin-bottom: 10px;
}

.company {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #00ff00;
}

.duration {
  font-size: 0.8rem;
  margin-bottom: 15px;
  color: #aaa;
}

.experience-card ul {
  list-style: square;
  padding-left: 20px;
  font-size: 0.9rem;
}

.experience-card li {
  margin-bottom: 8px;
  color: #ffffff;
  line-height: 1.5;
}

.experience-section::-webkit-scrollbar {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .timeline::before {
    left: 8px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }

  .timeline-item .dot {
    left: 0;
    transform: translate(0, -50%);
  }

  .experience-card {
    width: 100%;
    margin: 10px 0;
  }

  .experience-card h3 {
    font-size: 1.2rem;
  }

  .company {
    font-size: 0.8rem;
  }

  .duration {
    font-size: 0.7rem;
  }

  .experience-card ul {
    font-size: 0.8rem;
  }
}

/* About-Me Section */ 
.main-container {
  height: calc(100vh - 100px);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.player-stats-container {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 40px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.stats-box {
  max-width: 500px;
  background: rgba(0, 255, 255, 0.05);
  padding: 30px;
  border: 2px solid #00ff00;
  box-shadow: 0 0 15px #00ff00;
  border-radius: 15px;
  text-align: left;
}

.stats-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff00ff;
}

.about-title {
  font-size: 1.4rem;
  margin-top: 20px;
  text-transform: lowercase;
}

.stat-line {
  font-size: 0.9rem;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.05);
  border-left: 4px solid #00ff00;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(55, 153, 55, 0.1);
}

.stat-line span {
  color: #00ff00;
  margin-right: 10px;
  font-weight: bold;
  justify-content: left;
}

.special-abilities li {
  margin-bottom: 10px;
}

.avatar-box img {
  width: 320px;
  border-radius: 15px;
  border: 3px solid #00ff00;
  box-shadow: 0 0 25px #00ff00;
}

.languages-section {
  margin: 60px auto;
  padding: 20px 20px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
}

.hobbies-section {
  padding: 20px 20px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
}

.section-header {
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: lowercase;
}

/* Footer Styling */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}